.hero {
  background-image: radial-gradient( rgb(231, 229, 229), white );
  display: flex;
  height: 500px;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
  align-items: center;
}
.left {
  display: flex;
  width: 400px;
  flex-direction: column;

  animation: translateX 1s ease forwards;
}

.intro {
  font-size: x-large;
  font-weight: bolder;
}
.intro-i {
  font-size: xx-large;
}
.intro-name {
  font-size: xx-large;
  color: rgb(50, 211, 50);
  text-shadow: 2px 2px 10px rgba(50, 211, 50, 0.35);
  margin-left: 4px;
}
.left p {
  font-size: small;
  color: rgb(114, 110, 110);
  text-wrap:pretty ;
  word-spacing: 1px;
  line-height: 20px;
}
.left button {
  margin-top: 5px;
  padding: 10px 10px;
  width: 100px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  background-color: rgb(50, 211, 50);
  color: white;
  transition: all 0.25s;
  margin-top: 3px;
}
.left button:hover {
  margin-top: 0px;
  background-color: rgb(241, 238, 238);
  color: rgb(50, 211, 50);
  border: solid 2px rgb(50, 211, 50);
  box-shadow: 2px 0px 15px rgba(50, 211, 50,0.75);
  box-shadow: 2px 0px 25px rgba(50, 211, 50,0.85);
  box-shadow: 0px 0px 7px rgba(50, 211, 50,0.65);
}

.right{

}
.profile {
  object-position: center;
  width: 350px;
  height: auto;
  border-radius: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);

  animation: scale 1s linear forwards;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    height: auto;
    width: auto; 
    row-gap: 70px;
    padding: 40px 15px;
    margin: auto;
    
  }
  .intro {
    font-size: large;
  }
  .intro-i, .intro-name {
    font-size: larger;
    text-wrap:pretty ;
  }

  .left {
    width: auto; 
  }
  .profile {
    width: 200px;
  }
}
